*~
__pycache__
*#
*.out


**/algorithms_4th-sedgewick_wayne/**/.metadata/**
**/algorithms_4th-sedgewick_wayne/**/.recommenders/**
**/algorithms_4th-sedgewick_wayne/**/bin/**
**/algorithms_4th-sedgewick_wayne/**/RemoteSystemsTempFiles/**
# src: http://algs4.cs.princeton.edu/code/
**/algorithms_4th-sedgewick_wayne/**/large*